body {
	background: linear-gradient(135deg, #0a0a2a, #1e0038, #060017);
	color: #c0c0c0;
	text-align: center;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#container {
	width: 90%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

#button-container {
	display: flex;
	gap: 50px;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

h1 {
	color: #d4af37;
	font-family: "Uncial Antiqua", cursive;
	text-shadow: 0 0 10px rgba(212, 175, 55, 0.7);
	text-align: center;
	font-size: 4rem;
	margin: 50px 0;
} 

p {
	font-family: "M PLUS Code Latin", sans-serif;
	font-size: 1.5rem;
	color: #c0c0c0;
	transition: 0.3s ease-in-out;
	display: inline-block;
	text-align: center;
}

#actionButton {
	font-family: "M PLUS Code Latin", sans-serif;
	text-decoration: none;
	font-size: 1.8rem;
	border: 2px solid #d4af37;
	padding: 15px 30px;
	border-radius: 5px;
	background: #1b1b3a;
	color: #c0c0c0;
	transition: 0.3s ease-in-out;
	display: inline-block;
	text-align: center;
}

#actionButton:hover {
	background: #42006e;
	box-shadow: 0 0 15px rgba(212, 175, 55, 0.8);
}

@media (max-width: 768px) {
	h1 {
		font-size: 3rem;
	}

	#button-container {
		gap: 30px;
		flex-direction: column;
	}

	#actionButton {
		font-size: 1.5rem;
		width: 50vw;
		padding: 12px;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 2rem;
	}

	#actionButton {
		font-size: 1.2rem;
		width: 70vw;
		padding: 10px;
	}
}
